.product-table{
  width: 100%;
  border: 1px solid white;
  border-radius: 2px;
}

.mat-column-productId{
  min-width: 32px;
}

.mat-column-count{
  min-width: 48px;
}

mat-card-footer {
  padding-top:10px;
}

.mat-paginator{
  margin-top: 8px;
}
